USE [QL_TRUNGTAMTA]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEMTHI](
	[MAHV] [varchar](10) NOT NULL,
	[MADOTTHI] [varchar](10) NOT NULL,
	[DIEM] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC,
	[MADOTTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOTTHI]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOTTHI](
	[MADOTTHI] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NULL,
	[NGAYTHI] [date] NULL,
	[GIOTHI] [time](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_FD827C39C9BB4BDDAF9441ECA3BB9D79]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DT] PRIMARY KEY CLUSTERED 
(
	[MADOTTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [varchar](10) NOT NULL,
	[TENGV] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_5456AB51D2E9462E8D199127A4544310]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GV] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MALOP] [varchar](10) NULL,
	[MAKV] [varchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_2103862BAC5A4711BF60074ED558C587]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HV] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOSOHOCVIEN]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOSOHOCVIEN](
	[MAHOSO] [varchar](10) NOT NULL,
	[MAHV] [varchar](10) NULL,
	[TBDIEM] [float] NULL,
	[XEPLOAI] [char](20) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_ACDEE86C22444110987441A769645331]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HSHV] PRIMARY KEY CLUSTERED 
(
	[MAHOSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [varchar](10) NOT NULL,
	[TENKV] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D09547E15DE648A69E21F1C7C93D4BBB]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KV] PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KIEMTRA]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KIEMTRA](
	[MAHV] [varchar](10) NOT NULL,
	[MAPC] [varchar](10) NOT NULL,
	[LAN] [int] NOT NULL,
	[DIEM] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KT] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC,
	[MAPC] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAILOP]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAILOP](
	[MALOAILOP] [varchar](10) NOT NULL,
	[TENLOAILOP] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_A6EE97596CCB4DB2B678812AD2EE11F5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOAILOP] PRIMARY KEY CLUSTERED 
(
	[MALOAILOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[HOCPHI] [float] NULL,
	[MALOAILOP] [varchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E4D87D6C93B6436AAFF9590403198136]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 07-4-2021 11:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MAPC] [varchar](10) NOT NULL,
	[MAGV] [varchar](10) NULL,
	[MALOP] [varchar](10) NULL,
	[KHOAHOC] [varchar](10) NULL,
	[MADOTTHI] [varchar](10) NULL,
	[MAKV] [varchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B7A36505244B4309909E4133AE240AD4]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PC] PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DOTTHI] ([MADOTTHI], [MALOP], [NGAYTHI], [GIOTHI], [rowguid]) VALUES (N'DT001', N'L01', CAST(N'2021-10-15' AS Date), CAST(N'08:00:00' AS Time), N'58861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[DOTTHI] ([MADOTTHI], [MALOP], [NGAYTHI], [GIOTHI], [rowguid]) VALUES (N'DT002', N'L02', CAST(N'2021-11-15' AS Date), CAST(N'08:00:00' AS Time), N'59861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[DOTTHI] ([MADOTTHI], [MALOP], [NGAYTHI], [GIOTHI], [rowguid]) VALUES (N'DT003', N'L03', CAST(N'2021-12-15' AS Date), CAST(N'08:00:00' AS Time), N'5a861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [DIENTHOAI], [rowguid]) VALUES (N'GV1', N'LÊ CÔNG MINH', N'0903555663', N'3f861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [DIENTHOAI], [rowguid]) VALUES (N'GV2', N'LÊ CÔNG TÚ', N'0903532323', N'40861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[GIAOVIEN] ([MAGV], [TENGV], [DIENTHOAI], [rowguid]) VALUES (N'GV3', N'NGUYỄN VĂN SƠN', N'0903521111', N'41861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[HOCVIEN] ([MAHV], [HOTEN], [NGAYSINH], [GIOITINH], [DIENTHOAI], [DIACHI], [MALOP], [MAKV], [rowguid]) VALUES (N'HV01', N'NGUYỄN MẠNH CƯỜNG', CAST(N'2000-02-02' AS Date), N'NAM', N'0902451111', N'21 LÊ TRỌNG TẤN', N'L01', N'KV003', N'49861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[HOCVIEN] ([MAHV], [HOTEN], [NGAYSINH], [GIOITINH], [DIENTHOAI], [DIACHI], [MALOP], [MAKV], [rowguid]) VALUES (N'HV02', N'MAI THÙY TRANG', CAST(N'2000-09-06' AS Date), N'NỮ', N'0902454565', N'234 CÁCH MẠNG THÁNG TÁM', N'L03', N'KV002', N'4a861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[HOCVIEN] ([MAHV], [HOTEN], [NGAYSINH], [GIOITINH], [DIENTHOAI], [DIACHI], [MALOP], [MAKV], [rowguid]) VALUES (N'HV03', N'NGUYỄN NGỌC DŨNG', CAST(N'2000-01-02' AS Date), N'NAM', N'0902456666', N'725 TRƯỜNG CHINH', N'L02', N'KV003', N'4b861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[HOSOHOCVIEN] ([MAHOSO], [MAHV], [TBDIEM], [XEPLOAI], [rowguid]) VALUES (N'HS001', N'HV01', NULL, NULL, N'5c861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[HOSOHOCVIEN] ([MAHOSO], [MAHV], [TBDIEM], [XEPLOAI], [rowguid]) VALUES (N'HS002', N'HV02', NULL, NULL, N'5d861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[HOSOHOCVIEN] ([MAHOSO], [MAHV], [TBDIEM], [XEPLOAI], [rowguid]) VALUES (N'HS003', N'HV03', NULL, NULL, N'5e861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV], [rowguid]) VALUES (N'KV001', N'QUẬN GÒ VẤP', N'44861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV], [rowguid]) VALUES (N'KV002', N'QUẬN TÂN BÌNH', N'45861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV], [rowguid]) VALUES (N'KV003', N'QUẬN TÂN PHÚ', N'46861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[LOAILOP] ([MALOAILOP], [TENLOAILOP], [rowguid]) VALUES (N'LL01', N'TOEIC ', N'47861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[LOAILOP] ([MALOAILOP], [TENLOAILOP], [rowguid]) VALUES (N'LL02', N'GIAO TIẾP', N'48861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [HOCPHI], [MALOAILOP], [rowguid]) VALUES (N'L01', N'LỚP A', 1300000, N'LL01', N'53861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [HOCPHI], [MALOAILOP], [rowguid]) VALUES (N'L02', N'LỚP B', 1950000, N'LL01', N'54861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [HOCPHI], [MALOAILOP], [rowguid]) VALUES (N'L03', N'LỚP C', 2450000, N'LL01', N'55861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[PHANCONG] ([MAPC], [MAGV], [MALOP], [KHOAHOC], [MADOTTHI], [MAKV], [rowguid]) VALUES (N'PC01', N'GV1', N'L01', N'2021-2022', N'DT001', N'KV003', N'66861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[PHANCONG] ([MAPC], [MAGV], [MALOP], [KHOAHOC], [MADOTTHI], [MAKV], [rowguid]) VALUES (N'PC02', N'GV2', N'L02', N'2021-2022', N'DT002', N'KV001', N'67861356-be97-eb11-9e98-1cbfc040dd52')
INSERT [dbo].[PHANCONG] ([MAPC], [MAGV], [MALOP], [KHOAHOC], [MADOTTHI], [MAKV], [rowguid]) VALUES (N'PC03', N'GV3', N'L03', N'2021-2022', N'DT003', N'KV003', N'68861356-be97-eb11-9e98-1cbfc040dd52')
ALTER TABLE [dbo].[DIEMTHI] ADD  CONSTRAINT [MSmerge_df_rowguid_A7F2C98D489845F78EACF295813C6E11]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KIEMTRA] ADD  CONSTRAINT [MSmerge_df_rowguid_637CCDFD554541EA94747EA0D3C14EC8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_DT] FOREIGN KEY([MADOTTHI])
REFERENCES [dbo].[DOTTHI] ([MADOTTHI])
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [FK_DIEM_DT]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [FK_DIEM_HV]
GO
ALTER TABLE [dbo].[DOTTHI]  WITH CHECK ADD  CONSTRAINT [FK_DT_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[DOTTHI] CHECK CONSTRAINT [FK_DT_LOP]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOCVIEN_KV] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FK_HOCVIEN_KV]
GO
ALTER TABLE [dbo].[HOSOHOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HSHV_HV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[HOSOHOCVIEN] CHECK CONSTRAINT [FK_HSHV_HV]
GO
ALTER TABLE [dbo].[KIEMTRA]  WITH CHECK ADD  CONSTRAINT [FK_KT_HV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[KIEMTRA] CHECK CONSTRAINT [FK_KT_HV]
GO
ALTER TABLE [dbo].[KIEMTRA]  WITH CHECK ADD  CONSTRAINT [FK_KT_PC] FOREIGN KEY([MAPC])
REFERENCES [dbo].[PHANCONG] ([MAPC])
GO
ALTER TABLE [dbo].[KIEMTRA] CHECK CONSTRAINT [FK_KT_PC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_LOAILOP] FOREIGN KEY([MALOAILOP])
REFERENCES [dbo].[LOAILOP] ([MALOAILOP])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_LOAILOP]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PC_DT] FOREIGN KEY([MADOTTHI])
REFERENCES [dbo].[DOTTHI] ([MADOTTHI])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PC_DT]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PC_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PC_GV]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PC_KV] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PC_KV]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PC_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PC_LOP]
GO
